@media screen and (min-width:1500px){
	.mob-btn,
	.mobnav,
	.servright,
	.slidebox {
		display: none;
	}
	
	header {
		width: 100%;
		height: 110px;
		position: absolute;
		top: 0px;
		background: #FFFFFF;
		z-index: 2;
	}
	
	.header {
		width: 1100px;
		height: 110px;
		margin: 0 auto;
		background: #FFF;
	}
	
	/*logo*/
	.header h1 {
		margin: 15px 0px 0px 0px;
	}
	
	/*导航*/
	.header>ul>li {
		width: 100px;
		height: 110px;
		position: relative;
	}
	
	.header>ul>li>a {
		width: 100%;
		display: inline-block;
		font-size: 16px;
		text-align: center;
		height: 110px;
		line-height: 160px;
		transition: all 1s ease 0s;
	}
	
	.header>ul>li a:hover {
		color: #FFF;
		transition: all 1s ease 0s;
	}
	
	.mes {
		position: absolute;
		top: 110px;
		left: 0px;
		z-index: 5;
		width: 100%;
		display: none;
	}
	
	.mes a {
		width: 100%;
		text-align: center;
		line-height: 39px;
		height: 39px;
		background: rgba(0, 0, 0, .3);
		color: #FFFFFF;
		border-top: 1px solid #e6e6e6;
		font-size: 12px;
	}
	
	/**************footer*************/
	.foot_top{
		width: 1100px;
		margin: 0 auto;
	}
	
	.foot_tl {
		max-width: 410px;
		margin: 0px 0px 0px 30px;
		padding-top: 38px;
	}
	
	.foot_tl h3 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 17px;
		font-weight: normal;
	}
	
	.foot_tl p {
		line-height: 36px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.foot_tl p img {
		width: 19px;
	}
	
	.foot_tl span {
		display: inline-block;
		margin-left: 10px;
		font-size: 14px;
	}
	
	.foot_tr {
		margin-top: 40px;
		width: 610px;
	}
	
	.tr_con {
		width: 360px;
		margin: 30px 98px 0 0;
	}
	
	.tr_con a {
		width: 100%;
		height: 46px;
		text-align: center;
		line-height: 46px;
		border-radius: 8px;
	}
	
	.tr_con a span {
		color: #fff;
		float: left;
		font-size: 18px;
	}
	
	.tr_con img {
		float: left;
		margin: 11.5px 10px 11.5px 90px;
		width: 25px;
		height: 23px;
	}
	
	.con1 {
		background: #F73C3F;
		margin-bottom: 32px;
	}
	
	.con2 {
		background: rgb(83, 169, 209);
	}
	
	.erwei {
		width: 150px;
		height: 150px;
	}
	
	.erwei p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		margin-top: 15px;
		line-height: 14px;
	}
	
	.foot-bot,
	.foot-bot a {
		text-align: center;
		line-height: 46px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}
@media screen and (min-width:1101px) and (max-width:1500px){
	.mob-btn,
	.mobnav,
	.servright,
	.slidebox {
		display: none;
	}
	
	header {
		width: 100%;
		height: 110px;
		position: absolute;
		top: 0px;
		background: #FFFFFF;
		z-index: 2;
	}
	
	.header {
		width: 1100px;
		height: 110px;
		margin: 0 auto;
		background: #FFF;
	}
	
	/*logo*/
	.header h1 {
		margin: 15px 0px 0px 0px;
	}
	
	/*导航*/
	.header>ul>li {
		width: 100px;
		height: 110px;
		position: relative;
	}
	
	.header>ul>li>a {
		width: 100%;
		display: inline-block;
		font-size: 16px;
		text-align: center;
		height: 110px;
		line-height: 160px;
		transition: all 1s ease 0s;
	}
	
	.header>ul>li a:hover {
		color: #FFF;
		transition: all 1s ease 0s;
	}
	
	.mes {
		position: absolute;
		top: 110px;
		left: 0px;
		z-index: 5;
		width: 100%;
		display: none;
	}
	
	.mes a {
		width: 100%;
		text-align: center;
		line-height: 39px;
		height: 39px;
		background: rgba(0, 0, 0, .3);
		color: #FFFFFF;
		border-top: 1px solid #e6e6e6;
		font-size: 12px;
	}
	
	/********************footer********************/
	.foot_top{
		width: 1100px;
		margin: 0 auto;
	}
	
	.foot_tl {
		max-width: 410px;
		margin: 0px 0px 0px 30px;
		padding-top: 38px;
	}
	
	.foot_tl h3 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 17px;
		font-weight: normal;
	}
	
	.foot_tl p {
		font-size: 14px;
		line-height: 36px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.foot_tl p img {
		width: 19px;
	}
	
	.foot_tl span {
		display: inline-block;
		margin-left: 10px;
	}
	
	.foot_tr {
		margin-top: 40px;
		width: 610px;
	}
	
	.tr_con {
		width: 360px;
		margin: 30px 98px 0 0;
	}
	
	.tr_con a {
		width: 100%;
		height: 46px;
		text-align: center;
		line-height: 46px;
		border-radius: 8px;
		font-size: 18px;
	}
	
	.tr_con a span {
		color: #fff;
		float: left;
	}
	
	.tr_con img {
		float: left;
		margin: 11.5px 10px 11.5px 90px;
		width: 25px;
		height: 23px;
	}
	
	.con1 {
		background: #F73C3F;
		margin-bottom: 15px;
	}
	
	.con2 {
		background: rgb(83, 169, 209);
	}
	
	.erwei {
		width: 150px;
		height: 150px;
	}
	
	.erwei p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		margin-top: 15px;
		line-height: 14px;
	}
	
	.foot-bot,
	.foot-bot a {
		text-align: center;
		line-height: 46px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}
@media screen and (min-width:761px) and (max-width:1100px){
	.none,
	#fp-nav,
	.fp-next,
	.fp-prev,
	.language,
	.serv-right {
		display: none;
	}
	
	header {
		width: 100%;
		height: 110px;
		position: absolute;
		top: 0px;
		background: #FFFFFF;
		z-index: 2;
		padding-left: 10px;
	}
	
	.header {
		width: 100%;
		height: 110px;
		margin: 0 auto;
		background: #FFF;
		position: relative;
	}
	
	/*logo*/
	.header h1 {
		margin: 15px 0px 0px 15px;
		width: 42px;
		height: 53px;
	}
	
	.mob-btn {
		width: 30px;
		height: 25px;
		position: absolute;
		top: 40px;
		right: 30px;
		z-index: 2;
	}
	
	.centerhr {
		height: 1px;
		border: 1px solid #911D22;
		width: 28px;
		background: #911D22;
		position: absolute;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	
	.line1 {
		top: 0;
	}
	
	.line2 {
		top: 12px;
	}
	
	.line3 {
		top: 100%;
	}
	
	.mobnav {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		position: absolute;
		left: -101%;
		top: 80px;
		z-index: 999;
		-webkit-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
	
	.mobnav a {
		display: block;
		padding: 10px 0;
		color: #fff;
		font-size: 14px;
		text-align: center;
	}
	
	.mopen {
		width: 35px;
		height: 33px;
		border: 2px solid #911D22;
		border-radius: 50%;
		background: none;
		position: absolute;
		top: -4px;
		left: -5px;
		-webkit-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
	
	/***************footer**************/
	.foot_tl {
		width: 410px;
		float: left;
		margin: 0px 0px 0px 30px;
		padding-top: 38px;
	}
	
	.foot_tl h3 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 17px;
		font-weight: normal;
	}
	
	.foot_tl p {
		font-size: 14px;
		line-height: 36px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.foot_tl p img {
		width: 19px;
	}
	
	.foot_tl span {
		display: inline-block;
		margin-left: 10px;
	}
	
	.foot_tr {
		width: 360px;
		margin: 40px 10px 0 0;
		float: right;
	}
	
	.tr_con {
		float: none !important;
		display: inline-block;
		width: 360px;
	}
	
	.tr_con a {
		display: inline-block;
		width: 100%;
		height: 46px;
		text-align: center;
		line-height: 46px;
		color: #FFFFFF;
		border-radius: 8px;
		margin-bottom: 21px;
	}
	
	.tr_con a span {
		color: #fff;
		float: left;
		font-size: 18px;
	}
	
	.tr_con img {
		float: left;
		margin: 11.5px 10px 11.5px 90px;
		width: 25px;
		height: 23px;
	}
	
	.con1 {
		background: #F73C3F;
	}
	
	.con2 {
		background: rgb(83, 169, 209);
	}
	
	.erwei {
		width: 150px;
		height: 150px;
		float: none !important;
		margin: 0 auto;
	}
	
	.erwei p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		margin-top: 15px;
		line-height: 14px;
	}
	
	.foot-bot {
		margin-top: 50px;
	}
	
	.foot-bot,
	.foot-bot a {
		text-align: center;
		line-height: 46px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}
@media screen and (max-width:760px){
	.none,
	#fp-nav,
	.fp-next,
	.fp-prev,
	.language,
	.serv-right {
		display: none;
	}
	
	header {
		width: 100%;
		height: 110px;
		position: absolute;
		top: 0px;
		background: #FFFFFF;
		z-index: 2;
		padding-left: 10px;
	}
	
	.header {
		width: 100%;
		height: 110px;
		margin: 0 auto;
		background: #FFF;
		position: relative;
	}
	
	/*logo*/
	.header h1 {
		margin: 15px 0px 0px 15px;
		width: 42px;
		height: 53px;
	}
	
	.mob-btn {
		width: 30px;
		height: 25px;
		position: absolute;
		top: 40px;
		right: 30px;
		z-index: 2;
	}
	
	.centerhr {
		height: 1px;
		border: 1px solid #911D22;
		width: 28px;
		background: #911D22;
		position: absolute;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	
	.line1 {
		top: 0;
	}
	
	.line2 {
		top: 12px;
	}
	
	.line3 {
		top: 100%;
	}
	
	.mobnav {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		position: absolute;
		left: -101%;
		top: 80px;
		z-index: 999;
		-webkit-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
	
	.mobnav a {
		display: block;
		padding: 10px 0;
		color: #fff;
		font-size: 14px;
		text-align: center;
	}
	
	.mopen {
		width: 35px;
		height: 33px;
		border: 2px solid #911D22;
		border-radius: 50%;
		background: none;
		position: absolute;
		top: -4px;
		left: -5px;
		-webkit-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
	
	/***************footer**************/
	.foot_tl {
		width: 410px;
		float: left;
		margin: 0px 0px 0px 30px;
		padding-top: 38px;
	}
	
	.foot_tl h3 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 17px;
		font-weight: normal;
	}
	
	.foot_tl p {
		line-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.foot_tl p img {
		width: 19px;
	}
	
	.foot_tl span {
		display: inline-block;
		margin-left: 5px;
		font-size: 12px;
	}
	
	.foot_tr {
		width: 360px;
		margin: 0 auto;
		float: none!important;
	}
	
	.tr_con {
		float: none !important;
		display: inline-block;
		width: 360px;
		margin-top: 20px;
	}
	
	.tr_con a {
		display: inline-block;
		width: 100%;
		height: 46px;
		text-align: center;
		line-height: 46px;
		color: #FFFFFF;
		border-radius: 8px;
		margin-bottom: 21px;
	}
	
	.tr_con a span {
		color: #fff;
		float: left;
		font-size: 18px;
	}
	
	.tr_con img {
		float: left;
		margin: 11.5px 10px 11.5px 90px;
		width: 25px;
		height: 23px;
	}
	
	.con1 {
		background: #F73C3F;
	}
	
	.con2 {
		background: rgb(83, 169, 209);
	}
	
	.erwei {
		width: 150px;
		height: 150px;
		float: none !important;
		margin: 0 auto;
	}
	
	.erwei p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		margin-top: 15px;
		line-height: 14px;
	}
	
	.foot-bot {
		margin-top: 50px;
	}
	
	.foot-bot,
	.foot-bot a {
		text-align: center;
		line-height: 46px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}